<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="defaultAppender" class="ch.qos.logback.core.ConsoleAppender" >
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} 3333 -%kvp- %msg%n</pattern>
    </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="defaultAppender"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>